* {
    font-family: Arial;
}

button {
    background-color:#1c819e;
    color: white;
    cursor: pointer;
    padding: 6px 6px; 
    margin: 8px 0;
    font-size: 11pt;
    border-radius: 5px;
    border: 0px;
}

textarea {
    font-size: 10pt;
    resize: none;
    border-radius: 5px;
}

input {
    font-size: 10pt;
    padding: 6px 6px;
}

button:hover {
    opacity: 0.8;
}

/* Login */
/* ------------------------------------------------------------ */

#take-exam-body {
    /* background-color: #1c819e; */
    background-color: #fafafa;
}

#login-form {
    width: 40%;
    margin: auto;
    text-align: center;
    color: #005792;
    margin-top: 15%;
    /* background-color: #ccc; */
}

.login-form-container {
    padding: 16px;
    border: 4px solid #005792;
    background-color: white;
    display: block;
    margin-top: 5%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.login-button {
    width: 100%;
}

.login-input-username, .login-input-password {
    width: 100%;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    color: #005792;
} 

#status {
    display: block;
    padding: 10px;
    background-color: #ff5959;
    color: white;
    border-radius: 5px;
    /* border: 4px solid #005792; */
}


/* Nav Bar */
/* ------------------------------------------------------------ */
.nav-bar-container {
    overflow: hidden;
    background-color: #005792;
    border-radius: 5px;
  }

.nav-bar-left a { 
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12pt;
}

.nav-bar-left a:hover {
    color: beige;
}

.active {
    color: #757882;
    /* background-color: #455d7a; */
    background-color: #1c819e;
}

.nav-bar-container .nav-bar-right {
    float: right;
    display: block;
    padding: 0px 12px;
    color: white;
    text-align: center;
    font-size: 12pt;
}

/* Instructor Home */
/* ------------------------------------------------------------ */

.instructor-home-page {
    margin-top: 15px;
    text-align: center;
}

#pending-exams {
    display: inline-block;
}

#pending-exams th{
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

#pending-exams td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
} 


/* Exam Review List*/
/* ------------------------------------------------------------ */

.exam-review-list-page {
    margin-top: 15px;
    text-align: center;
}

#exam-review-list {
    display: inline-block;
}

#exam-review-list th {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

#exam-review-list td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
} 




/* Student Home */
/* ------------------------------------------------------------ */

.list-table {
    margin-top: 15px;
    text-align: center;
}

#pending-exams-student {
    display: inline-block;
}

#pending-exams-student th{
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

#pending-exams-student td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}
/* Exam Review Instructor */
/* ------------------------------------------------------------ */
.release-exam {
    text-align: center;
}

.exam-review-instructor-body {
    text-align: center;
}


#exam-review-instructor-info-container {
    text-align: center;
}

#exam-review-instructor-info-container table {
    margin: 15px 0;
    background-color: #63686e;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fbf9fa;
    display: inline-block; 
    /* width: 100%; */
    padding: 20px;  
}

#exam-review-instructor-info-container table td {
    padding: 5px;
} 

#exam-review-instructor-container {
    display: inline-block;  
    text-align: left;
}

#exam-review-instructor-container table {
    margin: 15px 0;
    background-color: #63686e;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fbf9fa;
    width: 100%;
    padding: 20px;
} 

/* 
#take-exam-container {
    display: inline-block;  
    text-align: left;
    
}

#take-exam-container table{
    margin: 15px 0;
    background-color: #63686e;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fbf9fa;
    width: 100%;
    padding: 20px;
} */

/* Exam Review Student */
/* ------------------------------------------------------------ */

.done-review-exam {
    text-align: center;
}

.exam-review-student-page {
    text-align: center;
}


#exam-review-student-info-container {
    text-align: center;
}

#exam-review-student-info-container table {
    margin: 15px 0;
    background-color: #63686e;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fbf9fa;
    display: inline-block; 
    /* width: 100%; */
    padding: 20px;  
}

#exam-review-student-info-container table td {
    padding: 5px;
} 

#exam-review-student-container {
    display: inline-block;  
    text-align: left;
}

#exam-review-student-container table {
    margin: 15px 0;
    background-color: #63686e;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fbf9fa;
    width: 100%;
    padding: 20px;
} 

/* .exam-review-student-page {
    margin-top: 15px;
} */

/* #exam-review-student-exam-name {
    text-align: center;
} */




/* Question Bank */
/* ------------------------------------------------------------ */


.question-bank-filtering-question-bank-page {
    margin-top: 15px;
    padding: 10px;
    width: 56%;
    float: left;
    border: 1px solid #ccc;
    background-color: #63686e;
    color: #fbf9fa;
    border-radius: 5px;
}



.create-question-container {
    margin-top: 15px;
    padding: 10px;
    width: 40%;
    float: right;
    border: 1px solid #ccc;
    background-color: #63686e;
    color: #fbf9fa;
    border-radius: 5px;
}

.create-question-container * {
    margin: 2px 2px;
}

.question-label-textarea {
    vertical-align: top;
}

#create-question-form label{
    display: inline-block; 
    vertical-align: top;
    width: 30%;
    text-align: left;
}

#test-cases-table{
    width: 65%;
    display: inline-block;
    text-align: center;
}

/* Instructor Exam */
/* ------------------------------------------------------------ */
.question-bank-filtering-instructor-exam-page {
    margin-top: 15px;
    padding: 10px;
    width: 56%;
    float: left;
    border: 1px solid #ccc;
    background-color: #63686e;
    color: #fbf9fa;
    border-radius: 5px;
}
.add-exam-container {
    margin-top: 15px;
    padding: 10px;
    width: 40%;
    float: right;
    border: 1px solid #ccc;
    background-color: #63686e;
    color: #fbf9fa;
    border-radius: 5px;
}

/* Take Exam */
/* ------------------------------------------------------------ */

/* #take-exam-name {
    text-align: center;
} */

.submit-exam {
    text-align: center;
}

#exam-container {
    text-align: center;
}

#take-exam-container {
    display: inline-block;  
    text-align: left;
    
}

#take-exam-container table{
    margin: 15px 0;
    background-color: #63686e;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fbf9fa;
    width: 100%;
    padding: 20px;
}

/* #take-exam-container table td{
    text-align: left;
} */